*{
  margin: 0;
  border: 0;
  padding: 0;
}
.App {
  height: 100%;
  background: linear-gradient(rgb(1, 33, 34),rgba(6, 77, 80, 0.842));
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: calc(7px + 3vmin);
}

.App .input{
  padding: 4px;
}

.App .addBtn{
  margin-bottom: 5px;
  margin-left: 2px;
  padding: 4px;
  border-radius: 50px;
}

.App .deleteBtn{
  margin-bottom: 5px;
  margin-left: 4px;
  padding: 2px;
  border-radius: 50px;
}

.App .list{
  font-size: calc(4px + 3vmin);
}