*{
  margin: 0;
  border: 0;
  padding: 0;
}
#root{
  margin: 0;
  padding: 0;

}
.App {
  background: linear-gradient(rgb(1, 33, 34),rgba(6, 77, 80, 0.842));
  text-align: center;
  color: white;
  font-size: calc(7px + 3vmin);
}

.container{
  padding-top: 50px;
}

.listContainer{
  text-align: justify;
  margin-left: 10vw;
}

.App .input{
  padding: 4px;
}

.App .addBtn:active, .App .addBtn:hover .App .deleteBtn:active, .App .deleteBtn:hover {
  outline: none;
  border: none;
}

.App .addBtn:active, .App .deleteBtn:active{
  animation: zoominout .5s;
}

@keyframes zoominout{
  50%{transform: scale(1.1);}
  100%{transform: scale(1.0);}
}

.App .addBtn{
  outline: none;
  border: none;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
}

.App .deleteBtn{
  outline: none;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 4px;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 25%;
}

.App .list{
  font-size: calc(4px + 2vmin);
}